/._build/
/_build/
/dist/
/.direnv/
/.veyr/
/.envrc.local
/.veyrc-dirlist
/gbv
/gbv.ll
/libgbv.a
/result
/result-*
/.local/
/roms/
/saves/
/snapshots/
/compatibility/local/
/testdata/fetched/
/testdata/local/
data
